.form-group label {
    width: 280px;
    display: inline-block;
    margin-left: 40px

  }

  .form-detail label {
    width: 280px;
    display: inline-block;
    margin-left: 40px
    

  }

  
  .signin-container {
    text-align: center;
    margin-top: 40px;
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Spacing between blocks */
  }
  .signin-box {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    width: 100%; /* Set width to fit flex container */
  }
  .input-label {
    display: block;
    margin-bottom: 10px;
  }
  .input-field {
    width: calc(100% - 16px); /* Adjust width to account for padding */
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .signin-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signin-button:hover {
    background-color: #45a049;
  }